
<script type="text/template" id="post_template">
  <article>
    <header>
    <h1><a href="{{= permalink }}" class="permalink">{{= title}}</a></h1>
    <time>{{= created_at}}</time>
    </header>
    <div class="content">
      {{= body}}
    </div>
  </article>

</script>


<div id="blog">
</div>

