
<script type="text/template" id="post_template">
  <article class="post">
    <header>
    <h2><a href="{{= permalink }}" class="permalink">{{= title}}</a></h2>
    <time dateime="{{= created_at}}">{{= formatDate(created_at)}}</time>
    </header>
    <div class="content">
      {{= body}}
    </div>
  </article>
</script>

<script id="add_comment_template" type="text/template">
  <label for="name">Name:</label>
  <input type="text" id="name" />
      
  <label for="email">Email:</label>
  <input type="text" id="email" />

  <label for="comment">Comment:</label> 
  <textarea id="comment"></textarea>
  <input type="button" id="submit" value="Add" />
</script>


<div id="blog" class="twelve columns offset-by-one-content">

</div>

