
<script type="text/template" id="post_template">
  <article class="post">
    <header>
    <h2><a href="{{= permalink }}" class="permalink">{{= title}}</a></h2>
    <time dateime="{{= created_at}}">{{= formatDate(created_at)}}</time>
    </header>
    <div class="content">
      {{= body}}
    </div>
  </article>
</script>


<div id="blog" class="twelve columns offset-by-one-content">

</div>

