<!DOCTYPE html>
<html>
<head>
  <title>BackboneRailsBlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="sixteen columns">
      <header>
      <h1><a href="/">A simple Backbone driven blog</a></h1>
      </header>
    </div>

    <div class="twelve columns content">
      <%= yield %>
      <div class="twelve columns return">
        <a href="/">Return to the list</a>
      </div>
    </div>
    <div class="three columns sidebar">
    </div>
  </div>



  <%= javascript_include_tag "application" %>
</body>
</html>
